<!DOCTYPE html>
<html>
  <head>
    <title>Courses and Seminars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="/javascripts/RequestManager.js"></script>
  </head>
  <body>
    <ul>
      <li><a href="/">На головну</a></li>
      <li><a href="/student">Students</a></li> <!-- Виправлено шлях до студентів -->
    </ul>

    <h1>Courses and Seminars</h1>

    <!-- Список курсів -->
    <h2>Courses</h2>
    <ul>
      <% courses.forEach(course => { %>
        <li>
          <h3><%= course.title %></h3>
          <p>Description: <%= course.description %></p>
          <h4>Seminars:</h4>
          <ul>
            <% if (course.seminars && course.seminars.length > 0) { %>
              <% course.seminars.forEach(seminar => { %>
                <li>
                  <p>Topic: <%= seminar.topic %></p>
                  <p>Duration: <%= seminar.duration %> hours</p>
                  <p>Student: <%= seminar.student ? seminar.student.name : 'N/A' %></p>
                </li>
              <% }) %>
            <% } else { %>
              <li>No seminars available for this course.</li>
            <% } %>
          </ul>
          <a href="/courses/register/<%= course._id %>">Edit Course</a>
          <button
            onclick="RequestManager.deleteRequest('/courses', '<%= course._id %>')">
            Delete Course
          </button>
        </li>
      <% }) %>
    </ul>

    <a href="/courses/register">Add New Course</a> 
    <a href="/seminars/register">Add New Seminar</a> 
  </body>
</html>
