<!DOCTYPE html>
<html>
  <head>
    <title><%= course ? 'Edit Course' : 'Create New Course' %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <ul>
      <li><a href="/">На головну</a></li>
      <li><a href="/students">Students</a></li>
      <li><a href="/courses">Courses</a></li>
    </ul>

    <h1><%= course ? 'Edit Course' : 'Create New Course' %></h1>
    <!-- Форма для створення/редагування курсу -->
    <<form action="/courses/register<%= course ? `/${course._id}` : '' %>" enctype="multipart/form-data" method="POST">
      <h2>Course Details</h2>

      <label for="title">Course Title:</label>
      <input type="text" id="title" name="title" value="<%= course ? course.title : '' %>" required><br>

      <label for="duration">Course Duration (hours):</label>
      <input type="number" id="duration" name="duration" value="<%= course ? course.duration : '' %>" required><br>

      <h3>Students:</h3>
      <ul>
        <% if (students && students.length > 0) { %>
          <% students.forEach(student => { %>
            <li>
              <p><%= student.name %> (Age: <%= student.age %>)</p>
              <input type="checkbox" name="students[]" value="<%= student._id %>" 
                <%= (course && Array.isArray(course.students) && course.students.includes(student._id)) ? 'checked' : '' %>>
              <span>Include in course</span>
            </li>
          <% }) %>
        <% } else { %>
          <p>No students available.</p>
        <% } %>
      </ul>
      <button type="submit">Save Course</button>
    </form>
  </body>
</html>
