<!DOCTYPE html>
<html>
<head>
  <title><%= seminar._id ? 'Edit Seminar' : 'Create New Seminar' %></title>
</head>
<body>
    <ul>
        <li><a href="/">На головну</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/courses">Courses</a></li>
      </ul>
  <h1><%= seminar._id ? 'Edit Seminar' : 'Create New Seminar' %></h1>
  <form enctype="multipart/form-data" action="/seminars/register/<%= seminar._id || '' %>" method="POST">
    <label for="topic">Seminar Topic:</label>
    <input type="text" id="topic" name="topic" value="<%= seminar.topic %>" required><br>

    <label for="duration">Duration (hours):</label>
    <input type="number" id="duration" name="duration" value="<%= seminar.duration %>" required><br>

    <label for="student">Select Student:</label>
    <select id="student" name="student">
      <option value="">None</option>
      <% students.forEach(student => { %>
        <option value="<%= student._id %>" <%= seminar.student === student._id ? 'selected' : '' %> >
          <%= student.name %>
        </option>
      <% }) %>
    </select><br>

    <label for="course">Select Course:</label>
    <select id="course" name="course">
      <option value="">None</option>
      <% courses.forEach(course => { %>
        <option value="<%= course._id %>" <%= seminar.course === course._id ? 'selected' : '' %> >
          <%= course.title %>
        </option>
      <% }) %>
    </select><br>

    <button type="submit">Save Seminar</button>
  </form>
</body>
</html>
