<!DOCTYPE html>
<html>
  <head>
    <title>Students</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="/javascripts/RequestManager.js"></script>
  </head>
  <body>
    <ul>
      <li><a href="/">На головну</a></li>
      <li ><a href="/courses">Courses</a></li>
    </ul>
    <h1>Students</h1>
        <a href="/student/register">Add Student</a>
        <ul>
        <% students.forEach(student => { %>
            <li>
                <h2><%= student.name %></h2>
                <p>Age: <%= student.age %></p>
                <p>Average Grade: <%= student.averageGrade %></p>
                <a href="/student/register/<%= student.id %>">Edit</a>
                <button
                    onclick="RequestManager.deleteRequest('/student', '<%= student.id %>' )">
                    Delete
                </button>    
            </li>
        <% }) %>
        </ul>
        <a href="/student/register">Add New Student</a>
  </body>