<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <%- include('../sections/header') %>

    <main>
        <% if (products.length > 0) { %>
          <div class="product-grid">
            <% products.forEach(product => { %>
              <div class="product-card">
                <h2><%= product.title %></h2>
                <p>Price: $<%= product.price %></p>
                <p><%= product.description || "No description available" %></p>
                <% if (product.image) { %>
                  <img src="data:image/jpeg;base64,<%= product.image %>" alt="<%= product.title %>">
                <% } else { %>
                  <img src="/photo-not-available.jpg" alt="No image available">
                <% } %>
                <% if (user?.role === 'admin') { %>
                  <a href="/products/register/<%= product._id %>">Edit</a>
                  <form action="/products/delete" method="POST" onsubmit="return confirm('Are you sure?');">
                    <input type="hidden" name="id" value="<%= product._id %>">
                    <button type="submit">Delete</button>
                  </form>
                <% } %>
              </div>
            <% }); %>
          </div>
        <% } else { %>
          <p>No products available.</p>
        <% } %>
        
          <a href="/products/register">Додати новий товар</a>

      </main>
  </body>
</html>
