<!DOCTYPE html>
<html>
<head>
  <title><%= seminar._id ? 'Edit Seminar' : 'Create New Seminar' %></title>
</head>
<body>
    <ul>
        <li><a href="/">На головну</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/courses">Courses</a></li>
      </ul>
  <h1><%= seminar._id ? 'Edit Seminar' : 'Create New Seminar' %></h1>
  <form enctype="multipart/form-data" action="/seminars/register/<%= seminar._id || '' %>" method="POST">
    <label for="topic">Seminar Topic:</label>
    <input type="text" id="topic" name="topic" value="<%= seminar.topic %>" required><br>

    <label for="duration">Duration (hours):</label>
    <input type="number" id="duration" name="duration" value="<%= seminar.duration %>" required><br>

    <label for="student">Select Student:</label>
    <select id="student" name="responsibleStudent">
      <option value="">None</option>
      <% if (students && students.length > 0) { %>
        <% students.forEach(student => { %>
          <option value="<%= student._id %>">
            <%= student.name %>
          </option>
        <% }); %>
      <% } else { %>
        <option disabled>Немає студентів</option>
      <% } %>
    </select>
    <br>
    <button type="submit">Save Seminar</button>
  </form>
</body>
</html>
